html, body {
    margin: 0;
}
#imagem_fundo {
    background: url("abandoned-abandoned-building-broken-decay-938045\ \(2\).jpg");
    height: 100%;
    text-align: center;
}  
#Título {
    color: white;
    padding-top: 10%;
    font-size: 70px; 
    font-family: Georgia;
}
#Subtítulo {
    color: white;
    padding-right: 35%;
    padding-left: 35%;
}
#Ação {
    color: white;
    border:1px white solid;
    padding: 10px 15px 10px 15px;
    border-radius: 15px;
    background-color:black;
    border-color: black;
    text-decoration: initial;
    
    
}